html, body
	{
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
	}
*
	{
		font-weight: cursive;
		font-weight: 100;
	}
table
	{
		text-align: center;
	}
.parrafo
	{
		padding:;
		margin: ;
		color:;
		box-shadow:;
		text-shadow: ;
	}
#navegaid
	{
		vertical-align: center;
		display: table-cell;
		border-style: none;
		height: 95%;
		width: 95%;
	}
.bodyindex
{
	background-color: #1b1e23;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	display: table;

}
.diviframe
{
	width: 100%;
	height: 100%;
	display: table-row;
	vertical-align: center;
	align-content: center;
	align-self: center;
}
.bodygeneral
{
	background-color: white;
	text-align: center;
}
.footer
{
	color: white;
	text-align: center;
	margin: 0;
}