html,body
	{
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
	}
*
	{
		font-weight: cursive;
		font-weight: 100;
	}
table
	{
		text-align: center;
	}
div
	{
		display: inline;
	}
#navegaid
	{
		vertical-align: center;
		display: table-cell;
		border-style: none;
		text-align-last: center;
		height: 100%;
		width: 100%;
	}
.diviframe
{
	background-color: white;
	width: 100%;
	height: 100%;
	display: block;
	vertical-align: center;
	align-content: center;
	align-self: center;
}
.bodygeneral
{
	display: block;
	width: 100%;
	height: 100%
	background-color: white;
	text-align: center;
}
.footer
{	
	background-color: #1b1e23;
	color: white;
	text-align: center;
	margin: 0;
	padding: 20px 0 10px 0; 
}
#footerico
{
	background-color: #1b1e23;
	padding: 0;
	margin: 0;
	display: inline;
}
.bodyindex
{
	background-color: #1b1e23;
	padding: 0;
	margin: 0;
	display: inline;
}
.BarraNavegacion
{
	display: inline;
	text-align: center;
	text-decoration: inherit;
	font-size: 20px;
	color:white;
	padding: 0;
	margin: 0;
	background-color: #FFD27D;
	border-color: #d8d8d8;
	border-width: 3px;
	border-style: solid;
	border-radius:10px;
}
.h3index
{
	padding: 10px 10px 10px 10px;
}